header{
    padding: 20px;
}
#content{ 
    padding:20px;
}
.restName{
    font-size: 2rem;    
}
.burgerMenu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
}
.burgerPrice{
    background-image: url("cheesyburger.jpg");
    background-repeat: round;
    height:30vh;
    padding: 7px;
    text-align: end;
    font-weight: bolder;
    font-size: large;
}
.burgerDesc{
    font-weight: bolder;
    font-size: 1rem;
    padding: 7px;
    vertical-align: middle;
    background-color:darkorange;
} 